@model IEnumerable<ISAM5635.Models.Car>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-controller="Home" asp-action="AddCar">Add new Car</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductionYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryTypeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryTypeNavigation.CategoryType)
            </td>
            <td>
                <a asp-controller="Home" asp-action="Edit" asp-route-carId="@item.CarId">Edit</a> |
                <a asp-controller="Home" asp-action="Details"asp-route-carId="@item.CarId" >Details</a> |
                <a asp-controller="Home" asp-action="Delete" asp-route-carId="@item.CarId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


</body>
</html>
