@model IEnumerable<ISAM5635.Models.Car>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        .grid_card {
            margin: 50px;
            padding: 10px;
            float: left;
            display: inline-block;
            border: 2px solid black;
            width: 250px;
            height: 250px;
            background-color: darkgray;
        }

        .center {
            margin: 25% auto;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 grid_card">
                <div class="card border-dark text-left">

                    <div class="card-header" style="border: 1px solid black; padding:2px; margin: 1px;">@Html.DisplayFor(modelItem => item.Brand)</div>

                    <div class="card-body text-dark text-center center">

                        <h3 class="card-title" style="color:@Html.DisplayFor(modelItem => item.Color); max-height:200px;">@Html.DisplayFor(modelItem => item.Model)</h3>

                        @Html.DisplayFor(modelItem => item.ProductionYear)
                        <br /><br />

                        <a asp-controller="Home" asp-action="Details" asp-route-carId="@item.CarId" class="btn btn-primary">Details</a>
                        <a asp-controller="Home" asp-action="Edit" asp-route-carId="@item.CarId" class="btn btn-default">Edit</a>

                        <a asp-controller="Home" asp-action="Delete" asp-route-carId="@item.CarId" class="btn btn-danger">Delete</a>

                    </div>
                </div>
            </div>
        }
    </div>


    


</body>
</html>
